@inherits LayoutComponentBase

<div class="page">
    <NavMenu @ref="navMenuInstance" />

    <main>
        <div class="top-row">
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="content-header">
            <div class="logos-container">
                @* <img src="img/curri_header_logo2.png" alt="Logo Institucional" /> *@
                <img src="img/curri_header_logo2.png" alt="Logo Sistema" />
            </div>
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
    private NavMenu? navMenuInstance;

    private void ToggleNavMenu()
    {
        navMenuInstance?.ToggleNavMenu();
    }
}