@* Archivo: AppBS/AppBS.Client/Layout/MainHeader.razor *@

<header class="main-header">
    <div class="header-left">
        @* <img src="images/curri_header_logo2.png" alt="Logo Municipalidad de Curridabat"> *@
    </div>
    <div class="header-center">
        <h1>SISTEMA DE BIENES Y SERVICIOS</h1>
    </div>
    <div class="header-right">
        <img src="img/curri_header_logo2.png" alt="Logo Curridabat Ciudad Dulce">
    </div>
</header>